h5 {color: black;
	font-family: 'Poiret One', cursive;
	text-align: center;}

.error {
 	border-color: red;
	background-color: red;
	border-radius: 4px;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
	width: 300px;
	padding: 6px 0;
	vertical-align: top;
}

.correct { 
 	border-color: #6a9407;
 	background-color: #6a9407;
 	border-radius: 4px;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
	width: 300px;
	padding: 6px 0;
	vertical-align: top;
}

.warning {
	color: #ff3800;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
	width: 300px;
	padding: 6px 0;
	vertical-align: top;}

.inputContact {
	border-radius: 4px;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
	width: 280px;
	padding: 6px 0;
	vertical-align: top;
}

#calendarHeader {
	width:258px;
	height:40px;
	background-color:#1a237e;
	border-radius:8px 8px 0px 0px;
}

#selectMonth, #selectYear {
	width: 110px;
	height: 24px;
	border-radius:4px;
	border: 1px solid #f0c6f9;
	background-color: #b9a8f9;
	margin: 8px;
	margin-right: 0px;
	color: #fff;
	font-weight: bold;
	text-align:center;
}

#selectYear {
	width: 60px;
	margin-left: 0px;
}

#calendar {
	width: 250px;
	height: 160px;
	background-color: #f0c6f9;
	border-radius:0px 0px 8px 8px;
	padding: 4px;
}

.day {
	width:26px;
	height:20px;
	margin-left:8px;
	margin-top:8px;
	background-color: #c2c2c2;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	float:left;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.today {
	width:26px;
	height:18px;
	margin-left:8px;
	margin-top:8px;
	background-color: #1a237e;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	float:left;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

#modalFIO, #modalSex, #modalDate,
#modalEmail, #modalNum, #modalMessage {
	width: 300px;
	height: 40px;
	border-radius: 20px;
	border: 3px #f98bb1 solid;
	background: #f0c6f9;
	position: absolute;
	text-align: center;
	color: #fff;
	top:80px;
	left: 350px;
	display: none;
	opacity: 0;
	z-index: 5;
}

#modalFIO
{position: absolute;
	top:228px; left: 55%; }

#modalSex
{position: absolute;
 top:400px; left: 55%; }

#modalDate {
position: absolute;
 left: 55%; top:594px;}

#modalEmail
{position: absolute;
	top:307px; left: 55%; }

#modalNum {
	position: absolute;
	left: 55%; top:905px;}

#modalMessage {
	position: absolute;
	left: 60%; top:1000px;}