#nav ul {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    overflow: hidden;
}
#nav li {
    display: inline-block;
    text-align: center;
    width: 13%;
}
#nav a {
    text-decoration: none;
    text-align: left;
    display: inline;
    color: #868686;
    padding: 0.2em 0;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    font-family: 'Poiret One', cursive;
}
#nav a:hover {
    color: #f70211;
}

#nav .now{
	color: #f70211;
    text-decoration: underline;
}

#nav li ul {
    display: none;
    position: absolute;
}

#nav li:hover ul{
    display: block;
    z-index: 10;
}

#nav ul li ul li {
    display: block;
    border: 0;
    list-style-type: none;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
}

#nav ul li ul li a {
    color: #000;
}