body{
    background: url('../img/photo.jpg');
}
img {
    border-radius: 100px;
    border: 3px solid #cc5577;
}
h1 {color:#cc5577;
    font-family: 'Poiret One', cursive;
    text-shadow: 2px 2px #885555;
    transition: all 1s;}

h4 {color: black;
    font-family: 'Poiret One', cursive;
    text-align: right;}

h2, h3, p {color: black;
    font-family: 'Poiret One', cursive;}

p {
    background-color: rgba(255,255,255,0.8);
}

table {
    font-family: 'Poiret One', cursive, black;
    text-align: center;
    vertical-align: middle;
    margin: 100px 280px;
    font-size: 24px;
    border-collapse: collapse;
}

caption {
    margin-bottom: 10px;
    font-size: 34px;
}

td {
    padding: 5px 5px;
}

tr:hover {
	background: rgba(230, 230, 230, 0.7);
}

tr:hover td{
    color: magenta;
}

.celli {
    width: 7%;
}

#wrapper {
    width: 100%;
    background: rgba(255,255,255,0.8);
    margin: 0 auto;
}

#container {
    width: 720px;
	margin: 100px;
    font-family: 'Poiret One', cursive, black;
    font-size: 20px;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}

#footer {
    clear: both;
    height: 80px;
    margin-top: -80px;
    position: fixed;
}

.gallery {
	position: relative;
	width: 1100px;
	margin: 50px auto;
}

.gallery > img {
	position: relative;
	width: 320px;
	margin: 0 0 20px 20px;
}

legend {
    background-color: rgba(255,255,255,0.8);
    color: black;
}

li, a {
    color: firebrick;
}

/* form styles */

#mailblock{
    margin: 0 auto;
    width: 50%;
}

form .row {
    display: block;
    padding: 7px 8px;
    margin-bottom: 7px;
}
form .row:hover {
    background:  rgb(255, 230, 230);
}

form label {
    display: inline-block;
    font-size: 1.2em;
    font-family: 'Poiret One', cursive;
    width: 120px;
    padding: 6px 0;
    color: black;
    vertical-align: top;
}
form .req { color: #ca5354; }

form .note {
    font-size: 1.2em;
    line-height: 1.33em;
    font-weight: normal;
    padding: 2px 7px;
    margin-bottom: 10px;
}

form input:focus, form textarea:focus { outline: none; }

/* placeholder styles: http://stackoverflow.com/a/2610741/477958 */
::-webkit-input-placeholder { color: #885555; font-style: italic; } /* WebKit */
:-moz-placeholder { color: #885555; font-style: italic; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #885555; font-style: italic; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #885555; font-style: italic; } /* Internet Explorer 10+ */

form .txt, .check {
    display: inline-block;
    padding: 8px 9px;
    padding-right: 30px;
    width: 240px;
    font-family: 'Poiret One', cursive;
    font-size: 1.35em;
    font-weight: normal;
    color: #898989;
}

.tables {
    margin-bottom:20px;
    width:250px;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.comment {
    margin-top: 20px;
    margin-left: 20px;
}

.comment .comment-text {
    margin: 0;
    padding: 0;
}

.comment .date {
    font-weight: bold;
}

.comment .author {
    font-style: italic;
}

.comment-form {
    display: none;
}

#new-comment-text {
    width: 300px;
    height: 150px;
    clear: both;
}